body
{
   background-color: #FFEFD5;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#Layer2
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#GoMenu1-select
{
   border: 1px solid #A9A9A9;
   border-radius: 7px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
}
#GoMenu1-select
{
   float: left;
   height: 100%;
   width: 100%;
}
#GoMenu1
{
   height: 100%;
   margin: 0;
}
    .popup {
      display: none;
      position: fixed;
      z-index: 9999; /* Asignar un valor alto para que se muestre por encima de los demás elementos */
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.5);
    }
    
    .popup-content {
      background-color: #fefefe;
      margin: 10% auto;
      padding: 20px;
      border-radius: 10px;
      width: 80%;
      max-width: 400px;
      text-align: left;
      position: relative;
    }
    
    .close {
      color: #ff0000;
      position: absolute;
      top: -10px;
      right: 2px;
      font-size: 40px;
      font-weight: bold;
      cursor: pointer;
      z-index: 2;
    }
    
    .close:hover,
    .close:focus {
      color: yellow;
      text-decoration: none;
      cursor: pointer;
    }
    
    .popup-content p {
      font-size: 18px; /* Cambia el tamaño del texto según tus preferencias */
      font-weight: bold; /* Aplica negrita al texto */
    }
        body
{
   background-color: #FFC0CB;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
        body {
            margin: 0;
            padding-top: 20px;
            padding-bottom: 30px;
            
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .video-container {
            position: relative;
            width: 100%;
            padding-bottom: 56.25%; /* Proporción de aspecto 16:9 para videos */
            margin-bottom: 20px;
        }

        .video-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: blur(5px);
        }

        .blocked-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-family: Arial, sans-serif;
            font-size: 24px;
            z-index: 2;
        }

        .blocked-overlay button {
            padding: 12px 20px;
            font-size: 16px;
            background-color: #ff0000;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            display: flex;
            align-items: center;
            transition: background-color 0.3s ease;
        }

        .blocked-overlay button:hover {
            background-color: #cc0000;
        }

        .blocked-overlay button i {
            margin-right: 5px;
        }

        .click-count-text {
            margin-top: 10px;
        }

        .additional-message {
            font-size: 15px;
        }

        .hidden {
            display: none;
        }

        .blur-effect {
            filter: blur(5px);
        }

        /* Media queries para ajustar estilos en diferentes tamaños de pantalla */

        @media screen and (max-width: 768px) {
            .video-container {
                width: 100%;
                padding-bottom: 56.25%;
            }
        }

        @media screen and (max-width: 480px) {
            .video-container {
                width: 100%;
                padding-bottom: 75%; /* Proporción de aspecto 4:3 para videos en pantallas pequeñas */
            }

            .blocked-overlay {
                font-size: 18px;
            }
        }

    .next-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.next-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('https://w7.pngwing.com/pngs/410/111/png-transparent-down-arrow-logo-arrow-down-android-down-arrow-hand-triangle-internet.png'); /* Reemplaza 'ruta_de_la_imagen.png' con la URL o ruta de la imagen que deseas usar */
    background-size: cover;
    background-position: center;
    width: 32px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 32px; /* Ajusta el tamaño de la imagen según tus necesidades */
    z-index: 1;
}

.next-button:hover {
    transform: translateY(5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


    

    